@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-bright-blue: hsl(245, 75%, 52%);
    --clr-very-pale-blue: hsl(225, 100%, 98%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    background-color: var(--clr-pale-blue);
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-position: left right;
    background-size: 100% 25%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

p {
    font-size: 1rem;
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

a {
    color: #382AE1;
}

.container {
    margin-top: 2rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20.438rem;
    height: 35.438rem;
    margin: auto;
    border-radius: 1.25rem;
    background-color: white;
}

.card-hero {
    overflow-y: hidden;
}

.card-hero__image {
    height: 10rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.card-content__title {
    font-size: 22px;
    line-height: 29.11px;
    font-weight: 900;
    text-align: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.card-content__description {
    font-size: 15px;
    margin: 0 2rem;
    margin-bottom: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--clr-desaturated-blue);
}

.card-content__plan {
    display: flex;
    background-color: #F7F9FF;
    margin-left: 16px;
    margin-right: 24px;
    padding: 1rem 0.5rem;
    border-radius: 11px;
    align-items: center;
    justify-content: space-around;
}

#current-plan {
    display: flex;
    align-items: center;
}

#current-plan img {
    margin-right: 12px;
}

.card-content__plan-title {
    font-weight: 900;
    font-size: 14px;
}

.card-content__plan-description {
    font-weight: 500;
    font-size: 14px;
    color: #717FA6;
}

.card-content__change-plan {
    font-weight: 700;
    font-size: 13px;
    line-height: 17.2px;
}

.card-content__button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 24px;
    margin-top: 24px;
}

.btn {
    border: none;
    outline: none;
    padding: 16px 0;
    font-family: inherit;
    font-size: 15px;
    border-radius: 11px;
    width: 279px;
}

.btn-primary {
    background-color: #382AE1;
    color: white;
    font-weight: 900;
    box-shadow: 0px 15px 15px 2px rgba(0, 0, 0, 0.15);
}

.btn-secondary {
    text-align: center;
    font-size: 15px;
    margin-top: 24px;
    padding: 0;
    background-color: transparent;
    font-weight: 900;
    color: #717FA6;
}

@media (min-width: 1440px) {
    html {
        background-size: 100% 50%;
    }

    .card {
        width: 450px;
        height: 697px;
    }

    .card-hero__image {
        width: 450px;
        height: 220px;
    }

    .card-content__title {
        font-size: 22px;
        margin-top: 45px;
    }

    .card-content__description {
        font-size: 16px;
        margin: 16px 48px 20px 48px;
    }

    .card-content__plan {
        margin: 0 48px;
        justify-content: space-between;
        padding: 20px 20px;
    }

    .card-content__plan-title {
        margin-bottom: 6px;
    }

    .btn {
        margin-top: 32px;
        cursor: pointer;
        width: 354px;
    }

    .btn:hover {
        transition: all .5s ease;
    }

    .btn-primary:hover {
        background-color: #766CF1;
    }

    .btn-secondary:hover {
        transition: all .5s ease;
        color: #1F2E55;
        cursor: pointer;
    }

    .card-content__change-link:hover {
        transition: all .5s ease;
        text-decoration: none;
        color: #766CF1;
    }
}